.cont {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #cd3278;
}
h1 {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 2rem;
  color: white;
}
.soma {
  width: 20vw;
  height: 4vh;
  color: white;
  margin: 0 0 1vh 0;
  background-color: #66cd00;
  border: 2px solid white;
  border-radius: 20px;
  display: block;
}
.sub {
  width: 20vw;
  height: 4vh;
  color: white;
  margin: 0 0 1vh 0;
  background-color: #ee0000;
  border: 2px solid white;
  border-radius: 20px;
  display: block;
}
